page-mainLogin {
    .login-content {
    background: #56CA96;
    
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
    .logo {
      font-family: 'Pacifico', cursive;
      font-size: 500%;
      color: white;
    }
    
    ion-row {
       align-items: center;
       text-align: center;
     }
     ion-label{
         text-align: center;
         font-family: 'Play', sans-serif;
     }

     .submit-btn {
       border-radius: 30px !important;
       border: 1px solid #ffffff;
       font-family: 'Play', sans-serif;
       size: 80%;
     }
    
    
    }
}