<ion-header>
    <ion-navbar>
    
        <ion-title>
            Resultado
        </ion-title>

    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
    <p><strong><label>Grupo o Clase:  </label></strong><label>{{grupo}}</label></p>
    
    <strong><label>Cuestiones Contestadas:  </label></strong><label>{{resultadoTotal}}</label>
    </ion-item>

    <ion-item>
    <div style="display: block">
  <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
</div>
<div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
    <button ion-button color="dark" (click)="randomizeType()" style="display: inline-block">Cambiar Vista</button>
  </div>
    </ion-item>

    <ion-item>
        <p><label>{{questions[0].title}}</label></p>
<div *ngIf="grupo == 'total'" style="display: block">
  <canvas baseChart
          [datasets]="radarChartData"
          [labels]="radarChartLabels"
          [chartType]="radarChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>
    </ion-item>

    <ion-item>
        <p><label>{{questions[1].title}}</label></p>
<div *ngIf="grupo == 'total'" style="display: block">
  <canvas baseChart
          [datasets]="radarChartData1"
          [labels]="radarChartLabels1"
          [chartType]="radarChartType1"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>
    </ion-item>

    
    
    
    

    </ion-content>